# TG-BOT
BOT_NAME=template
BOT_TOKEN=123456:ABCDEF_abcdef
ADMINS=123456,654321
USE_REDIS=False

# DATABASE
POSTGRES_DB=teplate-db
POSTGRES_USER=username
POSTGRES_PASSWORD=password

# DOCKER
PROJECT_NAME=template

# REDIS
REDIS_HOST=cache
REDIS_PORT=6379
REDIS_PASSWORD=somesuperhardpassword

# DJANGO
SECRET_KEY=django-super-secret-key
DEBUG=leave-blank-if-want-to-debug-false
